VITE_APP_PROFILE=tauri-guest
# LAN IP of Mac (ipconfig getifaddr en0). Or: ./scripts/build-tauri-guest.sh
VITE_MEDIA_BASE_URL=http://192.168.0.10:9000/publishing-media
# Kind Ingress alternative: http://192.168.0.10:8088/publishing-media
